<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  <title>Boredom Buster</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
</head>

<body>
  <header>
    <h1 class="text-white"> <span style="font-size:60px">BOREDOM</span> <span style="font-family:'Bungee Shade'">Buster</span></h1>
    <nav id="nav-buttons">      
      {{#if logged_in}}  
      <a <button type="button" class="btn btn-dark btn-space" href="/activities">Activities Search</button></a>  
      <a <button type="button" class="btn btn-dark btn-space" href="/history">Search History</button></a>
      <a <button type="button" class="btn btn-dark" href="/" id="logout">Log out</button></a>      
      {{else}}
      <a <button type="button" class="btn btn-dark btn-space" href="/">Home</button></a>  
      <a <button type="button" class="btn btn-dark btn-space" href="/login">Log in</button></a> 
      <a <button type="button" class="btn btn-dark" href="/signup">Sign Up</button></a>
      {{/if}}
      <nav>
  </header>
  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer>

  </footer>
  

</body>

</html>