<body>
    <!--Top Navigation Bar-->
    <section class="header">
    
     <h1> Boredom Buster</h1>
     
     <nav>
<!-- Form Container -->
        <div>
           <button class="btn btn-primary" type="submit">Search history</button>
            <button class="btn btn-primary" type="submit">login</button>
        </div>
     </nav>

    <!-- Search Results Feedback -->
        <table>
           <section> 
            <td> Activities selected from:
            <input type="text" autofocus="true" class="form-input" placeholder="Type in Date">
            <button class="upper-right">Search</button>

            <div id="daily-forecast-container" class="borderDiv">
                <h3>Events according to Date and weather</h3>
                <p>Sunny</p>
                <p>Warm</p>
                <p>Rainy</p>
                <p>Cold</p>
                <p>Hot</p>
                <p>Snowy</p>
                <p>Warm/Cold</p>
            </div>
            </td>
             <section>
                <td width="35%" id="paragraph" class="borderDiv"> weather information 
                </td>
              </section>
            </section>

        </table>

    <!-- Search Results Feedback -->
    <section id="list-activities"></section>
 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="./js/script.js"></script>
    