<section class="history">

    <h3>{{name}}'s Activity History</h3>

    
    <table id="history-table">
        <tr>
            <th>Date</th>
            <th>Activity</th>
        </tr>
    {{#each array}}
        <tr>
            <th>{{this.dataValues.date}}</th>
            <th>{{this.dataValues.selectedActivity}}</th>
        </tr>
    {{/each}}
    </table>

</section>

<script src="./js/historyPage.js"></script>
<script src="./js/logout.js"></script>