<h2>Search History Page</h2>

<section class="history">

    <h3>Search History for: {{name}}</h3>

    {{#each array}}
    <table id="history-table">
        <tr>
            <th>{{this.dataValues.date}}</th>
            <th>{{this.dataValues.selectedActivity}}</th>
        </tr>
    </table>
    {{/each}}

</section>

<script src="./js/historyPage.js"></script>
<script src="./js/logout.js"></script>