<body>
    <!--Top Navigation Bar-->
    <section class="header">
     <h1> Active Weather </h1>
     <nav>
        <div>
      <input type="text" autofocus="true" class="form-input">
                <button class="search">Search</button>
            </div>

    </nav>
     <nav></nav>


    <!-- Search Results Feedback -->
    <section id="list-activities"></section>
                <button class="search">Search</button>
            </div>

        </section>
           <section>
                <td width="75%" id='paragraph'> Ever feel bored, like you want to do something, but you don't know
                   what you want to do? What's the 1st thing you usually check before you decide where to go? The weather.
                    Our application can solve that problem. Check out this week's forecast and the application will recommend 
                    a few activities based on the weather and what you may like to do. 
                </td>
            </section>

            <section>
              <td width="75%" id="paragraph"> How to use this app:
                Search up the date you would like to go out to do activities
                Depending on the weather certain activities will pop-up on the screen.
                You have to create an account to be able to see al the features of the app. 
                Once logged in you are able to save the activities. 
              </td>
            </section>
    <!-- Search Results Feedback -->
    <section id="list-activities"></section>
 

