<body>
    <!--Top Navigation Bar-->
    <section class="header">
     <h1> Active Weather </h1>
     <nav>
        <a href="#most_trusted" class="js-target-scroll">ABOUT US</a>
    </nav>
     <nav></nav>

<!-- Form Container -->
     <aside>

        <section class="">

            <h2 class="activity-ideas">Activity Ideas!</h2>
        
        </section>
    </aside>

    <!-- Search Results Feedback -->
    <section id="list-activities"></section>
                <button class="search">Search</button>
            </div>

        </section>

    <!-- Search Results Feedback -->
    <section id="list-activities"></section>
 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="./js/script.js"></script>
    
</body>
