<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      Header 2        
    </h2>
    <p>
      Paragraph
      
    <p>Created by </p>
  </div>
  <div class="col-md-7">
    <p>
      Paragraph
    </p>
  </div>
</div>
