
  <section>
    <td width="75%" id='paragraph' class="bg-dark text-white"> Ever feel bored? Like you want to do something, but you don't know what you want to do? 

     Our application can solve that problem. 
     
     Search for a date and the application will recommend a few weather-appropriate activities for you to do.

    </td>
  </section>

  <section>
    <td width="75%" id="paragraph"> 
      <h2 class="text-center p-3 mb-2 bg-dark text-white">How to use this app:</h2>
      Search up the date you would like to go out to do activities
      Depending on the weather certain activities will pop-up on the screen.
      You have to create an account to be able to see al the features of the app.
      Once logged in you are able to save the activities.
    </td>
  </section>
  <!-- Search Results Feedback -->
 