<img src="https://cdn.pixabay.com/photo/2016/11/23/15/44/buildings-1853632_1280.jpg" alt="Chicago City" width="1110" height="250">
 <section class="card">
      <h2 class="text-center p-3 mb-2 text-white Bored">Calling All Chicagoans!</h2>
  
  <section class="card-body">
    <blockquote class="blockquote mb-0 text-center">
      <p>Ever feel bored? Like you want to do something, but you don't know what you want to do?</p>
      <p>Our application can solve that problem.</p>
      <p>Search for a date and our application will recommend a few weather-appropriate activities for you to do in Chicago.</p>
    </blockquote>
  </section>
 </section>

 <section class="card">
      <h2 class="text-center p-3 mb-2 text-white Bored">How to use this app:</h2>
  <section class="card-body">
    <blockquote class="blockquote mb-0 text-center">
      <p>Sign up or log in. </p>
      <p>Search up the date within a five-day window on which you would like to make plans. </p>
      <p>Depending on the weather, certain activities will pop-up on the screen. </p>
      <p>Your searches are saved. View your search history at anytime.</p>
    </blockquote>
  </section>
  </section>


  <!-- Search Results Feedback -->
 
