h1 {
  background-color: darkolivegreen;
  text-align: center;
  font-size: 4.5rem;
}

nav div {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 30px;
  float: right;
   font-size: 20px;
}

.history-table {
table-layout: fixed;
width: 100%;
border: 1px solid;
}

#history-header{
border-bottom: 1px solid;
font-size: 20px;
}

.history-table th {
padding-top: 3px;
padding-bottom: 3px;
border-bottom: dashed;
border-bottom-width: thin;
text-align: left;
}

#history-input {
font-size: 15px;
}
body {
background-image: url("https://images.pexels.com/photos/1084510/pexels-photo-1084510.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
background-repeat: no-repeat;
background-size: cover;
background-color: #cccccc;
}

.card {
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px;
}
