h1 {
    background-color: lightgreen;
    text-align: center;
    font-size: 4.5rem;
}

table {
    width: 100%;  
    border: 1px;
    min-width: 100%;
    position: relative;
    opacity: 0.97;
    background-color: lightskyblue;
    padding:20px;
  }

  nav div {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 30px;
    float: right;
     font-size: 20px;
}


